
body {
    font-family: Arial, sans-serif;
    padding: 0px 20px;
}

#map {
    height: 650px;
    width: 100%;
    position: relative;
    overflow: hidden;
    border-radius: 0px 20px 20px 20px;
    
}


.tab {
    cursor: pointer;
    padding: 10px;
    display: inline-block;
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    margin-right: 5px;
    border-radius: 20px 20px 0px 0px;
    width: 100px;
    text-align: center;
    font-weight: bold;
}

#citySearchSection,
#countrySearchSection {
    margin-top: 10px;
    margin-right: 5px;
}

#countrySearch,
#citySearch {
    border-radius: 20px;
    width: 300px;
    border: 1px solid black;
}


.controls {
    margin-top: 5px;
}

.tab.active {
    background-color: #921A40;
    color: white;
}

.hidden {
    display: none;
}

input {
    padding: 10px;
}

button {
    padding: 10px;
    margin-right: 5px;
    margin-top: 0px !important;
    font-weight: bold;
    border-radius: 40px;
    transition: transform 0.1s ease, box-shadow 0.1s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}


button:active {
    transform: translateY(2px); 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
/* Travel Buttons */
.visited-btn {
    background-color: #FF9500;
    border: 1px solid #FF9500;
    color: white;
}

.visited-btn:hover {
    background-color: white;
    color: #FF9500;
}

.wanted-btn {
    background-color: #5A00FF;
    border: 1px solid #5A00FF;
    color: white;
}

.wanted-btn:hover {
    background-color: white;
    color: #5A00FF;
}

.otherBtn {
    background-color: #921A40;
    border: 1px solid #921A40;
    color: white;
}

.otherBtn:hover {
    background-color: white;
    color: #921A40;
}

#showRoutesLabel {
    margin-right: 5px;
}